<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.artarch.tiktok_mobile_sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:label="example">

        <!-- TikTok ShareActivity -->
        <activity
            android:name=".ShareActivity"
            android:exported="true"
            android:launchMode="singleTask" />

    </application>
</manifest>
